.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url('../../assets/Contact.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container h3 {
    color: #bb72e9;
    font-weight: 400;
}

.container h2 {
    color: #e2e4e9;
    margin-top: 20px;
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
}

.container span {
    color: #878ea1;
    margin-top: 10px;
    font-weight: 600;
    text-align: center;
}

.links_container {
    width: 40%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.links_container a {
    text-decoration: none;
}

.link_div {
    background-color: #292c34;
    border-radius: 10px;
    height: 100px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .6s;
}

.link_div:hover {
    transform: scale(1.1);
    transition: .6s;
}

.link_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
}

.link_icon p {
    color: #c0c4ce;
    font-size: 20px;
    font-weight: 600;
}

.seta {
    height: 30px;
    width: 30px;
}

@media(max-width: 1024px) {
    .links_container {
        width: 60%;
    }
}

@media(max-width: 767px) {
    .container {
        padding: 30px 10px 30px 10px;
    }

    .links_container {
        width: 80%;
    }
}