.container {
    height: 60vh;
    background-color: #0d0e11;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}

.container h3 {
    color: #df626c;
    font-weight: 400;
}

.container h1 {
    color: #e2e4e9;
    margin-top: 20px;
    font-weight: 800;
    text-align: center;
}

.container h2 {
    color: #e2e4e9;
    margin-top: 20px;
    font-weight: 800;
}

.servicos_container {
    width: 90%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    margin-top: 30px;
    flex-wrap: wrap;
}

.servico_div {
    border: 1px solid #2c2e31;
    width: 400px;
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.servico_div img {
    height: 70px;
    width: 70px;
}

.servico_div h2 {
    color: #e2e4e9;
}

.servico_div p {
    font-weight: 500;
    color: #c0c4ce;
    margin-top: 15px;
}

@media(max-width: 1024px) {
    .container {
        height: 100%;
    }

    .container h2 {
        color: #e2e4e9;
        margin-top: 20px;
        font-weight: 800;
    }
}

@media(max-width: 767px) {
    .container {
        padding: 30px 10px 30px 10px;
    }
}

